<div class="cart">
    <div class="cart_header">
        <div class="cart_header_title">
            <lucide-icon name="ShoppingBag" [size]="18"></lucide-icon>
            <span>Sacola</span>
        </div>
        <span class="cart_header_limp"(click)="handleClearBag()">Limpar</span>
    </div>

    <div class="cart_main">
        <ul class="cart_main_list" *ngIf="cartItens.length; else empty">
            <li class="cart_main_list_item" *ngFor="let item of cartItens">
                <div class="cart_main_list_item_img">
                    <img [src]="item.imagem" alt="">
                </div>
                <div class="cart_main_list_item_group">
                    <div class="cart_main_list_item_group_content">
                        <span class="cart_main_list_item_group_content_title">{{item.nome}}</span>
                        <div class="cart_main_list_item_group_content_values">
                            <span class="cart_main_list_item_group_content_values_count">{{item.quantidade + "x "}}</span>
                           <span class="cart_main_list_item_group_content_values_value">{{item.quantidade ? item.quantidade * item.valor_venda : item.valor_venda | currency:'BRL'}}</span>
                        </div>
                    </div>
                    <div class="cart_main_list_item_group_actions">
                        <lucide-icon name="x-circle" [size]="20"></lucide-icon>
                    </div>
                </div>
            </li>
        </ul>

        
        <div class="cart_main_finish">
            <div class="cart_main_finish_values">
                <div class="cart_main_finish_values_sub">
                    <span class="cart_main_finish_values_sub_value">Subtotal</span>
                    <span class="cart_main_finish_values_sub_value">R$200.00</span>
                </div>
                <div class="cart_main_finish_values_sub">
                    <span class="cart_main_finish_values_sub_value">Desconto</span>
                    <span class="cart_main_finish_values_sub_value">R$0.00</span>
                </div>
                <div class="cart_main_finish_values_all">
                    <span class="cart_main_finish_values_all_value">Total</span>
                    <span class="cart_main_finish_values_all_value">R$200.00</span>
                </div>
            </div>
            <button class="button-primary" [ngClass]="cartItens.length ? '' : 'disabled' " (click)="handleSubmitOrder()">{{cartItens.length ? 'Finalizar pedido' : 'Sacola vazia'}}</button>
        </div>
    </div>

</div>

<ng-template #empty>
    <div class="empty">
        <lucide-icon name="ShoppingBag" [size]="40"></lucide-icon>
        <span>Sacola vazia</span>
    </div>
</ng-template>