@import '/src/styles/config';

.cart {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
    border: .1rem solid #ddd;
    border-radius: 1rem;
    height: 58rem;
    background-color: #f9fafb;

    @media screen and (max-width: 940px) {
        border: none;
    }

    @media screen and (max-width: $media_mobile) {
        border-radius: 0;
    }
    
    &_header {
        padding: 1.2rem 1rem;
        border-radius: 1rem 1rem 0 0;
        background-color: $primary-color;
        color: #fff;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 1.5rem;

        &_title, lucide-icon {
            display: flex;
            align-items: center;
            gap: .5rem;
        }

        &_actions {
            display: flex;
            gap: 1rem;
            align-items: center;

            &_limp {
                cursor: pointer;
            }
            
            &_close {
                background-color: #cecece86;
                @media screen and (min-width: 940px) {
                    display: none;
                }
            }

            &_close, lucide-icon {
                padding: .3rem;
                border-radius: 50rem;
                color: $txt-color;
                cursor: pointer;
            }
        }
    }

    &_main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        &_list {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: .8rem;
            overflow-x: hidden;
            max-height: 38rem;
           
            &_item {
                display: flex;
                gap: 1rem;
                background-color: #fff;
                border-radius: 1rem;
                padding: .5rem;
                border: .1rem solid #e1e1e1;
                
                &_img, img {
                    object-fit: cover;
                    width: 6rem;
                    height: 6rem;
                    border-radius: 1rem;
                }

                &_group{
                    width: 100%;
                    padding: .8rem .3rem;
                    display: flex;
                    justify-content: space-between;
                    
                    &_content {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        
                        &_title {
                            font-weight: 500;
                            font-size: 1.4rem;
                        }
        
                        &_values {
                            font-size: 1.4rem;

                            &_count {
                                font-weight: 500;
                            }

                            &_value {
                                color: $txt-color-green;
                            }
                        }
                    }
               
                    &_actions {
                        lucide-icon {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        
        &_finish {
            padding: 1.2rem;
            display: grid;
            gap: 1rem;
            background-color: #fff;
            border-radius: 0 0 1rem 1rem;
            border-top: .1rem solid #ddd;

            &_values {
                display: grid;
                gap: .5rem;


                &_sub, &_all {
                    display: flex;
                    justify-content: space-between;                    
                }

                &_sub {
                    &_value {
                        font-size: 1.4rem;
                    }
                }

                &_all {
                    &_value {
                        font-weight: 500;
                    }
                }
            }

            button {
                width: 100%;
            }

            .disabled {
                pointer-events: none;
                background-color: #ccc;
                // opacity: .5;
            }
        }
    }

}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ccc;

    span {
        font-size: 1.8rem;
    }
}