<div class="cart">
    <div class="cart_header">
        <span>Carrinho</span>
        <span>Limpar</span>
    </div>

    <div class="cart_main">
        <ul class="cart_main_list">
            <li class="cart_main_list_item" *ngFor="let item of cartItens">
                <img [src]="item.imagem" alt="">
                <div class="cart_main_list_item_group">
                    <div class="cart_main_list_item_group_content">
                        <span class="cart_main_list_item_group_content_title">{{item.nome}}</span>
                        <span class="cart_main_list_item_group_content_value">{{item.valor_venda | currency:'BRL'}}</span>
                    </div>
                    <div class="cart_main_list_item_group_actions">
                        <lucide-icon name="x-circle"></lucide-icon>
                    </div>
                </div>
            </li>
        </ul>
        <div class="cart_main_action" >
            <button class="button-primary" [ngClass]="cartItens.length ? '' : 'disabled' " (click)="handleSubmitOrder()">{{cartItens.length ? 'Finalizar pedido' : 'Sacola vazia'}}</button>
        </div>
    </div>

</div>