<div class="info_dialog">
    <div class="info_dialog_header">
        <div class="info_dialog_header_content">
            <lucide-icon name="info"></lucide-icon>
            <span class="info_dialog_header_content_txt">Informações</span>
        </div>

        <div class="info_dialog_header_close" (click)="dialog.closeAll()">
            <lucide-icon name="x"></lucide-icon>
        </div>
    </div>
    
    <div class="info_dialog_tabs">
        <mat-tab-group class="info_dialog_tabs_group">
            <mat-tab  class="info_dialog_tabs_group_tab" label="Sobre">
                <div class="info_dialog_tabs_group_tab_content" >
                    <h3 class="info_dialog_tabs_group_tab_content_title">Sobre</h3>
                    <div class="info_dialog_tabs_group_tab_content_about">
                        <img src="https://images.unsplash.com/photo-1683193063549-b8a50825cbc0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="Imagem sobre o local">
                        <p>Bem-vindo ao <b>"SaborArt Burgers"</b> - a hamburgaria que transcende os limites do paladar. Combinando ingredientes frescos e únicos, nossos hambúrgueres artesanais são verdadeiras obras-primas culinárias. Cada mordida é uma experiência gastronômica inesquecível, onde a criatividade encontra o clássico. Desde os sabores ousados das nossas combinações exclusivas até o ambiente acolhedor e moderno, o SaborArt Burgers é mais do que uma refeição - é uma jornada de sabores excepcionais.</p>
                    </div>
                </div>
            </mat-tab>
        
            <mat-tab  class="info_dialog_tabs_group_tab" label="Horários">
                <div class="info_dialog_tabs_group_tab_content">
                    <h3 class="info_dialog_tabs_group_tab_content_title">Horarios de atendimento:</h3>
                    <ul class="info_dialog_tabs_group_tab_content_hours">
                        <li class="info_dialog_tabs_group_tab_content_hours_item" *ngFor="let element of hoursList">{{element.semana}}: <span>{{element.horario}}</span></li>
                    </ul>
                </div>
            </mat-tab>
            <mat-tab  class="info_dialog_tabs_group_tab" label="Pagamento">
                <div class="info_dialog_tabs_group_tab_content">
                    <!-- <h3 class="info_dialog_tabs_group_tab_content_title">Formas de pagamento:</h3> -->
                    
                    <!-- <div class="info_dialog_tabs_group_tab_content_options">
                        <ul class="info_dialog_tabs_group_tab_content_options_cards">
                            <span>Cartoes</span>
                            <li>Cartao tal</li>
                            <li>Cartao tal</li>
                            <li>Cartao tal</li>
                        </ul>

                        <ul class="info_dialog_tabs_group_tab_content_options_others">
                            <span>outros</span>
                            <li>Dinheiro</li>
                            <li>Pix</li>
                        </ul>
                    </div> -->

                    <h2>Em desenvolvimento</h2>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

