@import '/src/styles/config';

.info_dialog {
    width: 60rem;
    min-height: 45rem;
   
    @media screen and (max-width: 750px) {
        width: 40rem;
    }
   
    @media screen and (max-width: $media-mobile) {
        width: 100vw;
        height: 100vh;

    }

    &_header {
        width: 100%;
        padding: 1.2rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_content {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: $txt-color-label;

            &_txt {
                font-size: 1.8rem;
                font-weight: 500;
            }
        }

        &_close {
            cursor: pointer;
        }
    }

    &_tabs {
        &_group {    
            
            &_tab {
                &_content {
                    min-height: 29rem;   
                    padding: 1.4rem 1.2rem;

                    &_title {
                        color: $txt-color-label;
                        margin-bottom: 2rem;
                    }

                    &_hours {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        &_item {
                            color: $txt-color-label;
                            font-size: 1.7rem;

                            span {
                                font-weight: 500;
                                color: $txt-color-green;
                            }
                        }
                    }

                    &_about {

                        img {
                            width: auto;
                            height: 14rem;
                            float: left;
                            margin-right: .8rem;
                            border-radius: .5rem;

                            @media screen and (max-width: $media-mobile) {
                                height: 12rem;
                            }
                        }
                        
                        p {
                            text-align: justify;
                            color: $txt-color-label;
                        }
                    }
                }
            }
        }
    }
}