<div class="info_dialog">
    <div class="info_dialog_header">
        <span class="info_dialog_header_txt">Mais informações</span>

        <div class="info_dialog_header_close">
            <lucide-icon name="x"></lucide-icon>
        </div>
    </div>
    
    <div class="info_dialog_tabs">
        <mat-tab-group class="info_dialog_tabs_group">
            <mat-tab  class="info_dialog_tabs_group_tab" label="Sobre">
                <div class="info_dialog_tabs_group_tab_content" >
                    <p>Sobre</p>
                    <p>Contato</p>
                    <p>Endereço</p>
                </div>
            </mat-tab>
        
            <mat-tab  class="info_dialog_tabs_group_tab" label="Horários">
                <div class="info_dialog_tabs_group_tab_content" >
                    <h3>Horarios de atendimento:</h3>
                </div>
            </mat-tab>
            <mat-tab  class="info_dialog_tabs_group_tab" label="Pagamento">
                <div class="info_dialog_tabs_group_tab_content" >
                    <h3>Formas de pagamento:</h3>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

