<div class="navbar" *ngIf="mobile_utils.mediaMobile">
    <ul class="navbar_menu">
        <li class="navbar_menu_button" [ngClass]="router.url === '/home' || router.url === '/' ? 'clicked' : '' " routerLink="/home">
            <lucide-icon name="home" class="icon" [size]="18"></lucide-icon>
            Início
        </li>
        <li class="navbar_menu_button" [ngClass]="router.url === '/promocoes' ? 'clicked' : '' " routerLink="/promocoes">
            <lucide-icon name="badge-percent" [size]="18"></lucide-icon>
            Promoções
        </li>
        <li class="navbar_menu_button" [ngClass]="router.url === '/carrinho' ? 'clicked' : '' " routerLink="/carrinho">
            <lucide-icon name="shopping-bag" [size]="18"></lucide-icon>
            Carrinho
        </li>
        <li class="navbar_menu_button" [ngClass]="router.url === '/cadastro-produtos' ? 'clicked' : '' " routerLink="/cadastro-produtos">
            <lucide-icon name="baggage-claim" [size]="18"></lucide-icon>
            Cadastrar
        </li>
        <li class="navbar_menu_button" [ngClass]="router.url === '/user' ? 'clicked' : '' " [matMenuTriggerFor]="user.userData ? userMenu : null" (click)="!user.userData ? handleOpenLogin() : null">
            <lucide-icon name="user" [size]="18"></lucide-icon>
            Usuário
        </li>
        
    </ul>
</div>

<mat-menu #userMenu>
    <button mat-menu-item (click)="handleLogout()">Sair</button>
</mat-menu>