<div class="product_dialog">
    <div class="product_dialog_header">
        <div class="product_dialog_header_actions">
            <div class="product_dialog_header_actions_bag">
                <lucide-icon name="shopping-bag" [size]="20"></lucide-icon>
            </div>

            <div class="product_dialog_header_actions_close" (click)="dialog.closeAll()">
                <lucide-icon name="x" [size]="20"></lucide-icon>
            </div>
        </div>
        <img [src]="currentProduct.imagem" alt="Imagem ilustrativa">
    </div>

    <div class="product_dialog_main">
        <div class="product_dialog_main_content">
            <span class="product_dialog_main_content_title">{{ currentProduct.nome }}</span>
            <p class="product_dialog_main_content_description">{{ currentProduct.descricao}}</p>
        </div>


        <div class="product_dialog_main_content_actions">
            <div class="product_dialog_main_content_actions_quantity_selector">
                <button class="product_dialog_main_content_actions_quantity_selector_less" [ngClass]="count === 1 ? 'disabled' : '' " (click)="handleCountProducts('less')">
                    <lucide-icon name="minus" [size]="20"></lucide-icon>
                </button>

                <div class="product_dialog_main_content_actions_quantity_selector_value">
                    {{count}}
                </div>
                
                <button class="product_dialog_main_content_actions_quantity_selector_more" (click)="handleCountProducts('plus')">
                    <lucide-icon name="plus"  [size]="20"></lucide-icon>
                </button>
                
                <div class="product_dialog_main_content_actions_quantity">    
                    <span class="product_dialog_main_content_actions_quantity_value"> 
                       {{count * currentProduct.valor_venda | currency:'BRL' }}
                    </span>
                </div>
            </div>

            <button class="product_dialog_content_button button-primary" (click)="handleAddCart(currentProduct)">Adicionar</button>
        </div>
    </div>
</div>