.header {
    height: 24rem;
    transition: .3s;
    
    @media screen and (max-width: 640px) {
        height: 16rem;
    }
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}