<div class="home">
    <div class="home_header">
        <app-header></app-header> <!-- caso esse componente se repita, adicionalo no modulo shared -->
    </div>

    <div class="home_subheader">
        <app-subheader></app-subheader>
    </div>

    <div class="home_main">
        <div class="home_main_products">
            <div class="home_main_products_card" *ngFor="let product of products">
                <div class="home_main_products_card_content">
                    <span class="home_main_products_card_content_item">{{ product.nome }}</span>
                    <span class="home_main_products_card_content_item">{{ product.descricao }}</span>
                    <span class="home_main_products_card_content_item">{{ product.valor_venda }}</span>
                </div>

                <div class="home_main_products_card_img">
                    <img [src]="product.imagem" alt="Imagem do produto">
                </div>
            </div>
        </div>
    </div>

</div>