<div class="home">
    

    <div class="home_filters">
        <app-home-filters></app-home-filters>
    </div>

    <div class="home_main">
        <div class="home_main_products">
            <app-products-cards
                title="Lanches"
                [productsData]="products"
                
            ></app-products-cards>

            <app-products-cards
                title="Porções"
                [productsData]="products"
                
            ></app-products-cards>
            
            <app-products-cards
                title="Bebidas"
                [productsData]="products"
                
            ></app-products-cards>
        </div>
    </div>

</div>