@import '/src/styles/config';
.home {
    &_filters {
        padding: 0 2rem;
        margin-top: 2.5rem;

        @media screen and (min-width: 1200px) {
            padding: 0 12rem;
        }

        display: flex;
        justify-content: space-between;

    &_search {
        display: flex;
        align-items: center;
        position: relative;

        &_input:focus {
            outline: .1rem solid #bfa27a;
        }

        &_input {
            width: 25rem;
            padding: 1rem 1.2rem;
            border: .1rem solid #ccc;
            border-radius: .5rem;

            @media screen and (max-width: 540px) {
                display: none;
            }
            
            &_icon {
                 position: absolute;
                 right: 1rem;
                 color: $txt-color-label;

                 @media screen and (max-width: 540px) {
                    position: unset;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    border: .1rem solid #ccc;
                    border-radius: .5rem;
                    background-color: #fff;
                }
            }
        }
    }

    &_category {
        &_select:focus {
            outline: .1rem solid #bfa27a;
        }
        
        &_select {
            background-color: #fff;
            width: 20rem;
            padding: 1rem 1.2rem;
            border: .1rem solid #ccc;
            border-radius: .5rem;
            color: $txt-color-label;
        }
    }

    }
    
    &_main {
        padding: 3rem 2rem;
        display: grid;
        grid-template-columns: 75% auto;
        gap: 2rem;

        @media screen and (min-width: 1200px) {
            padding: 2rem 12rem;
        }

        &_products {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }

        // &_cart{
        //   position: fixed;
        //   bottom: 2rem;
        //   right: 0rem;
        // }
    }
}