@import '/src/styles/config';
.home {
    &_filters {
        padding: 0 2rem;
        margin-top: 2.5rem;

        @media screen and (min-width: 1200px) {
            padding: 0 12rem;
        }

    }
    
    &_main {
        padding: 3rem 2rem;

        @media screen and (min-width: 1200px) {
            padding: 2rem 12rem;
        }

        &_products {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
    }
}