<div class="home">
    <div class="home_header">
        <app-header></app-header> <!-- caso esse componente se repita, adicionalo no modulo shared -->
    </div>

    <div class="home_subheader">
        <app-subheader></app-subheader>
    </div>

    <div class="home_filters">
        <app-home-filters></app-home-filters>
    </div>

    <div class="home_main">
        <div class="home_main_products">
            <app-products-cards
                title="Hambúrguer"
                [productsData]="products"
            ></app-products-cards>
        </div>
    </div>

</div>