@import '/src/styles/config.scss';

.subheader {
    padding: 0 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 11rem;
    position: relative;

    &_logo {
        object-fit: cover;
        object-position: center;
        
        img {
            position: absolute;
            top: -3.5rem;
            border: .4rem solid #ffffff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        }
    }

    &_logo, img {
        width: 15rem;
        height: 15rem; 
        border-radius: 20rem;
    }

    &_content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        &_title {
            color: $txt-color;
        }

        &_txt {
            color: $txt-color-label;
        }
    }

}