<div class="cadastro_produtos">
   <div class="cadastro_produtos_container">
       <h3 class="cadastro_produtos_container_title">Cadastro Pedidos:</h3>

       <form class="cadastro_produtos_container_form" [formGroup]="categoryForm">
            <input class="cadastro_produtos_container_form_input" type="text" placeholder="Nome do produto">
            <input class="cadastro_produtos_container_form_input" type="text" placeholder="Descrição do produto">
            <input class="cadastro_produtos_container_form_input" type="text" placeholder="Valor do produto">
            <input class="cadastro_produtos_container_form_file" type="file">
            <button class="cadastro_produtos_container_form_button">Enviar</button>
        </form>
   </div>
</div>