.mobile-dialog {
    @media screen and (max-width: 527px) {
        width: 100%;
        max-width: 100% !important;
        height: 100%;
    }
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    @media screen and (min-width: 528px) {
        border-radius: 2rem !important;
    }
}