<div class="home_filters">
    <div class="home_filters_search">
        <input class="home_filters_search_input" type="search" placeholder="Buscar produto">
        <lucide-icon class="home_filters_search_input_icon" name="search" [size]="18"></lucide-icon>
    </div>
    
    <form class="home_filters_category" [formGroup]="selectForm">
        <select class="home_filters_category_select" name="category" id="category" formControlName="selectInput" (change)="onChangeCategoryValue()">
            <option class="home_filters_category_select_option" value="" disabled selected hidden>Selecione um produto </option>
            <option class="home_filters_category_select_option" value="1">Lanches</option>
            <option class="home_filters_category_select_option" value="2">Porções</option>
            <option class="home_filters_category_select_option" value="3">Bebidas</option>
        </select>
    </form>
</div>