@import '/src/styles/config';

.home_filters {
    display: flex;
    justify-content: space-between;

    &_search {
        display: flex;
        align-items: center;
        position: relative;

        &_input:focus {
            outline: .1rem solid #bfa27a;
        }

        &_input {
            width: 25rem;
            padding: 1rem 1.2rem;
            border: .1rem solid #ccc;
            border-radius: .5rem;

          
            
            &_icon {
                 position: absolute;
                 right: 1rem;
                 color: $txt-color-label;
            }
        }
    }
}