<div class="app">
       <div class="app_header">
              <app-header></app-header> <!-- caso esse componente se repita, adicionalo no modulo shared -->
       </div>
      
       <div class="app_subheader">
              <app-subheader></app-subheader>
       </div>

       <router-outlet></router-outlet>

       <!-- <div class="app_footer">
              <app-footer></app-footer>
       </div> -->

       <div class="app_navbar">
              <app-navbar></app-navbar>
       </div>
</div>