.app {
    min-height: 100vh;
    background-color: #f4f5f7;

    &_navbar {
        position: fixed;
        height: 5rem;
        bottom: 0;
        width: 100%;
    }
    
    &_footer {
        position: relative;
        bottom: 0;
        background-color: red;
    }
}