<div class="login">
    <div class="login_header">
        <div class="login_header_txt">
            Login
        </div>

        <div class="login_header_close" (click)="dialog.closeAll()">
            <lucide-icon name="x"></lucide-icon>
        </div>
    </div>

    <div class="login_main">
        <form class="login_main_form" [formGroup]="loginForm">
            <div class="login_main_form_content">
                <span class="login_main_form_content_txt">Informe seu contato</span>
                <!-- <span class="login_main_form_content_sub">assim podemos identificar você</span> -->
            </div>

            <mat-form-field appearance="outline">
                <input matInput placeholder="Seu nome" formControlName="nameInput">
                <mat-label>Nome</mat-label>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <input matInput placeholder="(51) X XXX-XXXX" formControlName="phoneInput">
                <mat-label>Celular</mat-label>
            </mat-form-field>
            
            <button class="login_main_form_button" (click)="submitLoginForm()">Confirmar</button>
        </form>

    </div>
</div>
