<div class="login">
    <div class="login_header">
        <div class="login_header_txt">
            Login
        </div>

        <div class="login_header_close">
            <lucide-icon name="x"></lucide-icon>
        </div>
    </div>

    <div class="login_main">
        <form>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Placeholder">
                <mat-label>Outline form field</mat-label>
              </mat-form-field>
        </form>
    </div>
</div>
