@import '/src/styles/config';

.products_cards {

    &_title {
        font-weight: 600;
        font-size: 2rem;      
    }
    
    &_list {
        margin-top: 2rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, minmax(0,1fr));
        
        @media screen and (max-width: 640px) {
            grid-template-columns: repeat(1, minmax(0,1fr));
        }
      
        @media screen and (min-width: 1400px) {
            grid-template-columns: repeat(3, minmax(0,1fr));
        }
       
        @media screen and (min-width: 1600px) {
            grid-template-columns: repeat(4, minmax(0,1fr));
        }

        &_item {

            &_card {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                padding: .5rem;
                background-color: #fff;
                border-radius: 1rem;
                border: .1rem solid #ededed;
                position: relative;
                cursor: pointer;
                transition: .3s;


                &:hover &_content {
                    opacity: .2;
                }

                &:hover &_img {
                    opacity: .2;
                    margin-right: 3.2rem;
                }

                &:hover &_actions {
                    display: block;
                }

                &_content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: .8rem;
                    transition: .3s;

    
                    &_name {
                        font-weight: 500;
                    }
    
                    &_description {
                        font-size: 1.4rem;
                        color: $txt-color-label;
                        overflow: hidden;
                        
                    }
    
                    &_value {
                        color: $txt-color-green;
                    }
                }
    
                &_img, img {
                    width: auto;
                    height: 10rem;
                    border-radius: 1rem;
                    transition: .3s ease-in-out;

                }


                &_actions {
                    display: none;
                    position: absolute;
                    right: .8rem;
                    z-index: 999;
                    transition: .3s ease-in-out;


                    &_delete {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}