<div class="products_cards">
    <span class="products_cards_title">{{title}}</span>
    
    <ul class="products_cards_list">
        <li class="products_cards_list_item" *ngFor="let product of productsData" (click)="handleOpenProductDialog()">
            <div class="products_cards_list_item_card" [ngClass]="admin ? 'card-hover' : ''">
                <div class="products_cards_list_item_card_actions" *ngIf="admin">
                    <div class="products_cards_list_item_card_actions_delete" (click)="deleteProductFunction(product)">
                        <lucide-icon name="x-circle"></lucide-icon>
                    </div>
                </div>

                <div class="products_cards_list_item_card_content">
                    <span class="products_cards_list_item_card_content_name">{{ product.nome }}</span>
                    <span class="products_cards_list_item_card_content_description line-clamp-2">{{ product.descricao }}</span>
                    <span class="products_cards_list_item_card_content_value">{{ product.valor_venda | currency:'BRL'}}</span>
                </div>

                <div class="products_cards_list_item_card_img">
                    <img [src]="product.imagem" alt="Imagem do produto">
                </div>
            </div>
        </li>
    </ul>
</div>